.margin-left-20 {
    margin-left: 20px;
}
.margin-left-30 {
    margin-left: 30px;
}   
.cursor-move {
    cursor: move;
}
.user-select-none {
    -webkit-user-select: none;
}
.transition {
	transition-property: all;
 	transition-duration: 0.3s;
}