.chromeNote-noteItem-decorate-shadow {
    box-shadow:  0 0 10px black;
}

.chromeNote-noteItem-resize {
    overflow: hidden;
    resize: both;
}
.chromeNote-noteItem-threeDWorld {
    width: 200px;
    height: 180px;

    position: absolute;
    left: 200px;
    top: 100px;
}
.chromeNote-noteItem-flipCard {
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    /*为了解决父容器右下角拖拽被挡住的问题*/
    z-index: -1;
}
.chromeNote-noteItem-wrap {
    width: 100%;
    height: 100%;

    position: absolute;
    overflow: hidden;
} 
.chromeNote-noteItem-header {
    margin: 0 10px;
    padding: 10px 0;
    height: 10px;
    line-height: 10px;

    position: relative;
}
.chromeNote-noteItem-header-date {
    font-size: 12px;
    font-family: "Arial";
}
.chromeNote-noteItem-header-iconWrap {
    position: absolute;
    right: 0;
}
.chromeNote-noteItem-header-icon {
    font-size: 14px;
    margin-left: 5px;
    cursor: pointer;
}
.chromeNote-noteItem-body {
    position: absolute;
    width: 100%;
    top: 32px;
    bottom: 0;
    left: 0;    
}
.chromeNote-noteItem-textarea::-webkit-scrollbar {
    width: 8px;
}
 
.chromeNote-noteItem-textarea::-webkit-scrollbar-track {
    background: none;
    height: 10px;
}
 
.chromeNote-noteItem-textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-transition: all 0.3s linear;
}

.chromeNote-noteItem-textarea {
    position: absolute;
    width: 100%;
    top: 32px;
    bottom: 0;
    left: 0;

    /*Chrome 仅支持border-box而不支持padding-box*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;


    padding: 0 6px 0 6px;
    margin: 0;

    border-style: solid;
    border-width: 4px 8px 5px 0;

    font-family: "Arial";

    resize: none;
    outline: none;

    /*overflow: hidden;*/
}
.chromeNote-noteItem-footer {
    position: absolute;
    height: 25px;
    line-height: 25px;

    width: 100%;
    left: 0;
    bottom: 0;
}
.chromeNote-noteItem-footer-hide {
    bottom: -25px;
}
.chromeNote-noteItem-grid {
    width: 100%;
    height: 25px;
    border-spacing: 0px;
    display: none;
}
.chromeNote-noteItem-grid td {
    text-align: center;
    padding: 0;
    /*box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
    cursor: pointer;
}
.chromeNote-noteItem-grid2 td {
    width: 50%;
}
.chromeNote-noteItem-grid3 td {
    width: 33.3%;
}
.chromeNote-noteItem-miniIcon-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    
    border: 1px solid black;
}

.chromeNote-noteItem-miniIcon {
    width: 50px;
    height: 50px;
    background: black;

    position: absolute;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
}
.chromeNote-noteItem-footer-showMenu, .chromeNote-noteItem-footer-showColor{
    bottom: 0;
}

.chromeNote-noteItem-footer-showMenu .chromeNote-noteItem-footer-menu, 
.chromeNote-noteItem-footer-showColor .chromeNote-noteItem-footer-color {
    display: table;
}
.chromeNote-noteItem-footer-colorItem {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;

    padding: 1px 2px;

}
.chromeNote-noteItem-footer-colorItem-blue em{
    display: block;
    width: 100%;
    height: 100%;
    background: #26BCF1;
}
.chromeNote-noteItem-footer-colorItem-green em{
    display: block;
    width: 100%;
    height: 100%;
    background: #ffcf56;
}
.chromeNote-noteItem-footer-colorItem-black em{
    display: block;
    width: 100%;
    height: 100%;
    background: #404143;
}

.chromeNote-noteItem-flipCard-back {
    -webkit-transform: rotateY(180deg);
}