.editor-group:first-child {
    margin-left: 0;
}
.editor-group {
    margin-left: 10px;
}
.editor-toolbar {
    margin-bottom: 5px;
    width: 100%;
}
.editor-area {
    font-size: 12px;
}
.editor-panel {
    position: fixed;
    right: 5px;
    top: 10px;
    width: 429px;
}
.editor-container {
    border: 1px solid #adadad;
    padding: 5px 8px 5px;
    width: 400px;

    position: absolute;
    left: 0;
    top: 0;
}
.editor-container iframe {
    width: 100%;
    min-height: 50px;
    border: 1px solid #adadad;
    padding: 2px;
}
.toolbar-editor-btn:nth-of-type(3) {
    margin: 0 5px;
}
#editor-expand-handle {
    width: 20px;
    height: 3px;
    background: #ebebeb;
    position: absolute;
    bottom: 2px;
    left: 50%;
    margin-left: 2.5px;
    cursor: ns-resize;
}
#editor-expand-handle:hover {
    background: #adadad;
    height: 5px;
}