* {margin:0; padding:0;}

body {
    font-family:Arial;
}

a {
    text-decoration: none;
}
select {
    background: white;
}

.chromeNote-blur {
    -webkit-filter: blur(2px);
}

#chromeNote-threeDWorld {
    position: fixed;
    left: 175px;
    top: 75px;

    width: 250px;
    height: 250px;

    /*hack*/
    /*-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);    */
}
.chromeNote-board {
    width: 200px;
    height: 60px;

    position: absolute;
    left: 25px;
    top: 65px;

    font-size: 12px;
    padding: 10px;

    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 9999;
}

#chromeNote-board-btn-close {   
    width: 15px;
    height: 15px;

    position: absolute;
    right: 0;
    top: 0;

    text-align: center;
    cursor: pointer;
}

.chromeNote-board-row {
    height: 20px;
    padding: 5px;
    line-height: 20px;
}

.chromeNote-board-item {
    margin: 0 5px;
}

.chromeNote-tip {
    background: #404143;
    height: 18px;
    position: absolute;

    font-size: 13px;
    color: #C1CCD0;
    line-height: 18px;

    padding: 10px;
    z-index: 999;

    box-shadow: 0 0 10px rgba(0,0,0,0.3);    
}

#chromeNote-tip-mark {
    left: 100px;
    top: 140px;
    width: 220px;
}

#chromeNote-tip-note {
    left: 165px;
    top: 25px;
    width: 200px;
}

.chromeNote-board-arrow-right:after {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

    border-color: rgba(64, 65, 67, 0);
    border-left-color: #404143;
    border-width: 10px;
    top: 50%;
    margin-top: -10px;    
}

.chromeNote-board-arrow-left:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

    border-color: rgba(64, 65, 67, 0);
    border-right-color: #404143;
    border-width: 10px;
    top: 50%;
    margin-top: -10px;
}

.chromeNote-board-arrow-top:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

    border-color: rgba(64, 65, 67, 0);
    border-bottom-color: #404143;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
}

.chromeNote-board-arrow-bottom:after {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

    border-color: rgba(64, 65, 67, 0);
    border-top-color: #404143;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
}

#chromeNote-cmdMenu-mask {
    position: absolute;

    width: 250px;
    height: 250px;

    /*hack*/
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

#chromeNote-cmdMenu-wrap {
    position: absolute;
    width: 250px;
    height: 250px;
}

#chromeNote-cmdMenu-btnClose {
    width: 42px;
    height: 42px;

    position: absolute;
    left: 104px;
    top: 104px;

    color: #3E3F41;

    z-index: 999;
}

.chromeNote-cmdMenu-menuItem-outerWrap {
    list-style-type: none;
    width: 250px;
    height: 250px;

    position: absolute;
    left: -125px;
    top: -125px;

    overflow: hidden;
    cursor: pointer;
}

.chromeNote-cmdMenu-menuItem-innerWrap {
    display: block;
    width: 42px;
    height: 42px;

    position: absolute;
    left: 157px;
    top: 208px;

    cursor: pointer;
}

.chromeNote-cmdMenu-menuItem-text {
    display: block;

    position: absolute;

    width: 42px;
    height: 42px;
    line-height: 42px;

    text-align: center;
    font-size: 1.5em;
}

.chromeNote-decorate-circle {
    border-radius: 50%;
}

.chromeNote-show {
    display: block;
    opacity: 1;
}

.chromeNote-hide {
    display: none;
}

