* {margin:0; padding:0;}

body {
    font-family:Arial;
}

a {
    text-decoration: none;
}

.chromeNote-show {
    display: block;
}

.chromeNote-hide {
    display: none;
}

#chromeNote-threeDWorld {
    position: fixed;
    left: 175px;
    top: 75px;

    width: 250px;
    height: 250px;

    /*hack*/
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);    
}

#chromeNote-cmdMenu-mask {
    position: absolute;

    width: 250px;
    height: 250px;

    /*hack*/
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

#chromeNote-cmdMenu-wrap {
    position: absolute;
    width: 250px;
    height: 250px;
}

#chromeNote-cmdMenu-btn {
    width: 42px;
    height: 42px;

    position: absolute;
    left: 104px;
    top: 104px;

    z-index: 999;
}

.chromeNote-cmdMenu-menuItem-outerWrap {
    list-style-type: none;
    width: 250px;
    height: 250px;

    position: absolute;
    left: -125px;
    top: -125px;

    overflow: hidden;
    cursor: pointer;
}

.chromeNote-cmdMenu-menuItem-innerWrap {
    display: block;
    width: 42px;
    height: 42px;

    position: absolute;
    left: 157px;
    top: 208px;

    cursor: pointer;
}

.chromeNote-cmdMenu-menuItem-text {
    display: block;

    position: absolute;

    width: 42px;
    height: 42px;
    line-height: 42px;

    text-align: center;
    font-size: 1.5em;
}

.chromeNote-decorate-circle {
    border-radius: 50%;
}

