.theme-white #chromeNote-cmdMenu-btn {
    background: white;
    border: 1px solid #c4c4c4;
}

.theme-white .chromeNote-cmdMenu-menuItem-outerWrap {
    background: white;
    border: 1px solid #c4c4c4;
}

.theme-white .chromeNote-cmdMenu-menuItem-innerWrap {
    color: #89939C;
    /*background: yellow;*/
    /*border: 1px solid white;*/
}

.theme-white .hover{
    background-color:#26BCF1;
}
.theme-white .hover a {
    color: white;
}