.theme-white #chromeNote-cmdMenu-btn {
    background: white;
    border: 1px solid #c4c4c4;
    cursor: pointer;
}

.theme-white .chromeNote-cmdMenu-menuItem-outerWrap {
    
}

.theme-white .chromeNote-cmdMenu-menuItem-innerWrap {
    color: #89939C;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: 1px solid #c4c4c4;
}

.theme-white #chromeNote-cmdMenu-btn:hover,
.theme-white .chromeNote-cmdMenu-menuItem-innerWrap:hover {
    background-color:#26BCF1;
    color: white;
}