.chromeNote-setup-3d-perspective {
    -webkit-perspective: 1000px;
}

.chromeNote-setup-3d-style {
    -webkit-transform-style: preserve-3d;
}

.chromeNote-transform-origin-100and100 {
    -webkit-transform-origin: 100% 100%;
}

.chromeNote-transform-translateZ {
    -webkit-transform: translateZ(25px);
}

.chromeNote-transform-scale-point1 {
    -webkit-transform: scale(0.1);
}

.chromeNote-transform-transition {
    -webkit-transition: all 0.1s linear;
}

.chromeNote-transform-origin-x72y21 {
    -webkit-transform-origin: 72px 21px
}

.animateScaleUp {
    -webkit-animation-name: scaleUp;
    -webkit-animation-duration: 0.3s;
    /* easeOutBack: */
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
}

@-webkit-keyframes scaleUp {
    from {
      -webkit-transform: scale(0.1);
    }
    to {
      -webkit-transform: scale(1);
    }
}

.scaleUp {
    -webkit-transform: scale(1);            
}

.animateScaleDown {
    -webkit-animation-name: scaleDown;
    -webkit-animation-duration: 0.3s;
    /* easeInBack: */
    -webkit-animation-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045); 
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
}

@-webkit-keyframes scaleDown {
    from {
      -webkit-transform: scale(1);
    }
    to {
      -webkit-transform: scale(0.1);
    }
}

.scaleDown {
    -webkit-transform: scale(0.1);
}